openapi: 3.0.0
info:
  title: Binar Challenge Platinum
  version: 1.0.0
servers:
  - url: https://api-binar.razanfawwaz.dev
    description: Production Server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Ping
  - name: User
  - name: Seller
  - name: Cart
  - name: Order
paths:
  /api/v1/user:
    get:
      tags:
        - User
      summary: Get Token
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - User
      summary: Delete User By ID
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - User
      summary: Update User By ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                address: batoh amd
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/login:
    post:
      tags:
        - User
      summary: User Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: razanfawwaz1905@gmail.com
                password: "123"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/register:
    post:
      tags:
        - User
      summary: User Register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                username: gdevs1
                email: razan@gdevsid.com
                password: "123"
                address: jl dahlan
                phone_number: "0212121"
                gender: male
                role: seller
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/user/verify/{id}:
    get:
      tags:
        - User
      summary: Verify User
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEyLCJpYXQiOjE3MjExMzY1NDUsImV4cCI6MTcyMTIyMjk0NX0.ElX3b1AQ_9aYCcy2bh6oCZvSToVBnwFaROcFsmlgS8g
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/seller/{sellerId}/items:
    get:
      tags:
        - Seller
      summary: Get All Items By Seller Id
      parameters:
        - name: sellerId
          in: path
          schema:
            type: integer
          required: true
          example: "12"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/item/{id}:
    get:
      tags:
        - Seller
      summary: Get Item By ID
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
          example: "22"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Seller
      summary: Update Item
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: Birthday T-Shirt Azizi Asadel 2024
                stock: "201"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
          example: "6"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Seller
      summary: Delete Item
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
          example: "13"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/seller/item:
    post:
      tags:
        - Seller
      summary: Post Item
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                name:
                  type: string
                  example: Baju Jeketi
                description:
                  type: string
                  example: baju birthday tshirt zee
                price:
                  type: integer
                  example: "50000"
                stock:
                  type: integer
                  example: "20"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/items:
    get:
      tags:
        - Seller
      summary: Get All Items
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/cart:
    post:
      tags:
        - Cart
      summary: Add to Cart
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                itemId: 6
                quantity: 2
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Cart
      summary: Get Cart
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Cart
      summary: Remove Item from Cart
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/order:
    get:
      tags:
        - Order
      summary: Get Orders
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Order
      summary: Create Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                address: Jl. KHA Dahlan, Ds. Melatik, Banda Aceh, Aceh, 23242
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/order/sent/{orderId}:
    patch:
      tags:
        - Order
      summary: Sent Order
      requestBody:
        content: {}
      parameters:
        - name: orderId
          in: path
          schema:
            type: integer
          required: true
          example: "9"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/order/delivered/{orderId}:
    patch:
      tags:
        - Order
      summary: Delivered Order
      requestBody:
        content: {}
      parameters:
        - name: orderId
          in: path
          schema:
            type: integer
          required: true
          example: "2"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/order/cancel/{orderId}:
    patch:
      tags:
        - Order
      summary: Cancel Order
      requestBody:
        content: {}
      parameters:
        - name: orderId
          in: path
          schema:
            type: integer
          required: true
          example: "5"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/v1/order/pay/{orderId}:
    patch:
      tags:
        - Order
      summary: Pay Order
      requestBody:
        content: {}
      parameters:
        - name: orderId
          in: path
          schema:
            type: integer
          required: true
          example: "9"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
